@model WebStore.Domain.Entities.Cart

@{ 
    ViewBag.Title = "WebStore: Your Cart";
}

<style>
    #cartTable td { vertical-align:middle; }
</style>
<h2>Your cart</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th class="text-left">Product</th>
            <th class="text-left">Quantity</th>
            <th class="text-right">Price</th>
            <th class="text-right">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var productQuantity in Model.ProductQuantityCollection)
        {
            <tr>
                <td class="text-left">@productQuantity.Product.Name</td>
                <td class="text-left">@productQuantity.Quantity</td>
                <td class="text-right">@productQuantity.Product.Price.ToString("c")</td>
                <td class="text-right">
                    @((productQuantity.Product.Price * productQuantity.Quantity).ToString("c"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductId", productQuantity.Product.ProductID)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-sm warning" value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="text-right" colspan="3">Total:</td>
            <td class="text-right">@Model.ComputeTotalCost().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@ViewData["ReturnUrl"]">Continue shopping</a>
</div>