@model IEnumerable<WebStore.Domain.Entities.Product>



@foreach (var item in Model)
{
    <div class="well">
        <h3>
            <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
            <span class="pull-right label label-primary">@Html.DisplayFor(modelItem => item.Price)</span>
        </h3>

        @using(Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                @Html.Hidden("productId", item.ProductID.ToString())
                @Html.Hidden("returnUrlQuery", Request.Url.PathAndQuery)
                @*@Html.TextBox("quantity", null, htmlAttributes: new { @class = "form-control col-sm-2" })*@
                <input type="submit" class="btn btn-success" value="Add to cart" />
            </div>
        }
        <span class="lead">@Html.DisplayFor(modelItem => item.Description)</span>
    </div>
}


